---
import Boton from "../../components/Boton.astro";
import Dashboard from "../../layouts/Dashboard.astro";
import CreateIcon from "../../../public/icons/create.astro";
import { getImageById } from "services/images.service";
import { getUserByEmail } from "services/user.service";
import UpdateImageUser from "components/UpdateImageUser";
import CloseSesion from "components/CloseSesion";
import UpdateDataUser from "components/UpdateUser";

const token = Astro.cookies.get("token")?.value;
const email = Astro.cookies.get("email")?.value;

if(!token){
    return Astro.redirect("/");
}
const authorization = true


 
  const user = await getUserByEmail(email, token)
  const imagen = await getImageById(user.image,token)
  user.image = imagen.url
---

<Dashboard authorization={authorization} title="Ajustes de Cuenta">
  <div
    class="dark:bg-gray-800 flex items-center justify-between bg-white rounded-lg"
  >
    <p class="text-3xl text-blue-500 font-bold dark:text-purple-500">
      Configuracion
    </p>
  </div>

  <div class="flex flex-col sm:flex-row justify-center items-center w-full">
    <div class="flex-1 flex flex-col justify-center items-center w-full my-10">
      <img
        class="rounded-full size-40 sm:size-64 shadow-lg shadow-blue-500 dark:shadow-purple-500"
        src={user.image}
        alt=""
      />
      <UpdateImageUser client:idle />

      <UpdateDataUser client:idle />

      <CloseSesion client:idle />
    </div>

    
  </div>
</Dashboard>
