---
import Dashboard from "../layouts/Dashboard.astro";
const token = Astro.cookies.get("token")?.value;
const email = Astro.cookies.get("email")?.value;

if(!token){
    return Astro.redirect("/");
}
const authorization = true
---

   <Dashboard authorization={authorization} title="404 Not Found">
   <main class="dark:bg-gray-600 bg-gray-100  rounded-lg ">
      <div class="flex flex-col justify-center items-center">
         <h1 class="text-white text-3xl text-center">Esta pagina no existe...</h1>
         <img src="https://midu.dev/images/this-is-fine-404.gif" class="rounded">
      </div>
   </main>
</Dashboard>


<style>
   main {
      height: 100vh;
      background-color: rgb(26, 25, 25);
   }

   h1{
      margin: 2rem;
      font-size: 40px;
      
   }
</style>



