---
import Layout from "../layouts/Layout.astro";
---


<Layout title="404 Not Found">
   
   <main class="bg-gray-600 ">
      <div class="flex flex-col justify-center items-center">
         <h1 class="text-white text-3xl text-center">Esta pagina no existe...</h1>
         <img src="https://midu.dev/images/this-is-fine-404.gif" class="rounded">
      </div>
   </main>
</Layout>


<style>
   main {
      height: 100vh;
      background-color: rgb(26, 25, 25);
   }

   h1{
      margin: 2rem;
      font-size: 40px;
      
   }
</style>



