---
import BeneficioCardLP from "./BeneficioCardLP.astro"
---

<h2 class="text-center text-4xl text-blue-500 font-bold">Beneficios</h2>

<BeneficioCardLP>
      Interfaz intuitiva y f치cil de usar que simplifica la gesti칩n de proyectos.
   <img slot="after" class="lg:w-1/2 md:w-full md:h-10 lg:h-auto"  src="../../public/images/Beneficio1.webp" alt="">
</BeneficioCardLP>

<BeneficioCardLP>
   Configuraci칩n r치pida que permite a los equipos empezar sin complicaciones.
   <img slot="before" class="lg:w-1/2 md:w-full md:h-5 lg:h-[400px]" src="../../public/images/Beneficio2.webp" alt="">
</BeneficioCardLP>

<BeneficioCardLP>
   Accede a tu proyecto desde cualquier lugar, en cualquier momento.
   <img slot="after" class="lg:w-1/2 md:w-full md:h-10 lg:h-auto" src="../../public/images/Beneficio3.webp" alt="">
</BeneficioCardLP>