<div class="flex flex-col md:flex-row items-center justify-between w-full text-gray-500 font-bold text-2xl h-4/6">

   <slot name="before" />

   <div class="lg:w-1/2 md:w-full">
      <slot />
   </div>

   <slot name="after"/>

</div>
