---
interface Props {
   texto?: string;
   direccion?: string;
   tipo?: string;
   estilos?: string; 
}

const { texto, direccion, tipo, estilos } = Astro.props;
---

<a
   href={direccion}
   type={tipo}
   class={`flex justify-start items-center  hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg   text-center  ${estilos}`} 
   href="/"
>
   <slot name="before" />
   {texto}
   <slot name="after" />
</a>
