---
import { getImageById } from "services/images.service";
import ArrowRight from "../../public/icons/arrowRight.astro";
import Boton from "./Boton.astro";

interface Props {
  id: number | undefined;
  estilos?: string;
  name?: string;
  description?: string;
  image?: any;
  token?: string;
}

const defaultImagen = "../../public/images/exampleProyect.jpg";

const { id, estilos, name, description, image, token } = Astro.props;
const imagen = await getImageById(image, token);
---

<div class=`${estilos} flex flex-col bg-blue-100 dark:bg-purple-800   max-w-96`>
  <img class="rounded-t-lg" src={imagen ? imagen.url : defaultImagen} alt="" />
  <div class="flex flex-col justify-between h-full">
    <h3
      class="text-xl font-bold p-3 text-gray-700 dark:text-purple-200 sm:text-3xl"
    >
      {name}
    </h3>
    <div class="flex justify-end p-3">
      <Boton
        direccion=`/dashboard/${id}`
        texto="Ver Proyecto"
        estilos="bg-blue-500 px-5 py-2.5 text-white"
      >
        <ArrowRight slot="after" color="white">Ver Proyecto</ArrowRight>
      </Boton>
    </div>
  </div>
</div>
