---
---
<footer class="flex lg:flex-row md:flex-col justify-center items-center bg-gray-800 text-white w-full lg:h-40  md:h-40 bottom-0">
      
         <img class="w-32" src="../../public/images/logo.webp" alt="">
<!--          icons redes sociales     -->         
         <div class="p-2 bg-blue-600 rounded"> 
           <ul>
               <li class="inline-block mx-2">
                  <a href="#">
                  <img class="w-8" src="../../public/icons/facebook.svg" alt="">
                  </a>
               </li>
               <li class="inline-block mx-2">
                  <a href="#">
                  <img class="w-8" src="../../public/icons/instagram.svg" alt="">
                  </a>
               </li>
               <li class="inline-block mx-2">
                  <a href="#">
                  <img class="w-8" src="../../public/icons/x.svg" alt="">
                  </a>
               </li>
               <li class="inline-block mx-2">
                  <a href="#">
                  <img class="w-8" src="../../public/icons/whatsapp.svg" alt="">
                  </a>
               </li>
           </ul>
         </div>
</footer>