---
import Boton from "./Boton.astro";


---

<div class="flex flex-col lg:flex-row justify-between items-center lg:items-start w-full p-12">
   <img
     class="flex-1 sm:w-full lg:max-w-md sm:block hidden"
     src="../../public/images/logo.webp"
     alt="Logo"
   />
   <div class="flex-1 lg:w-[400px] w-full lg:h-[450px] p-10 bg-white rounded-lg shadow">
     <h1 class="text-5xl text-center text-blue-600 font-bold">
       Login
     </h1>
 
     <form action="#" class="flex flex-col items-center mt-6 w-full ">
       <div class="w-full">
         <label class="text-sm font-semibold" for="user">Usuario</label>
         <input
           type="text"
           name="user"
           id="user"
           class="w-full p-2 text-sm font-semibold rounded-xl bg-blue-100 border-none focus:outline-none"
           placeholder="Ingrese su usuario"
         />
       </div>
       <div class="w-full mt-4">
         <label class="text-sm font-semibold" for="password">Contraseña</label>
         <input
           type="password"
           name="password"  
           id="password"   
           class="w-full p-2 text-sm font-semibold rounded-xl bg-blue-100 border-none focus:outline-none"
           placeholder="Ingrese su contraseña"
         />
       </div>
 
      <Boton direccion="dashboard" estilos="bg-blue-600 mt-6 text-gray-100 px-5 py-2.5" texto="Ingresar" tipo="submit"/>  



     </form>
 
     <div class="flex justify-between items-center w-full mt-12 text-lg">
       <a href="signup" class="text-gray-400 font-bold">No tienes Cuenta?</a>
       <a href="signup" class="text-purple-600 ml-2 font-bold">Registrarse</a>
     </div>
   </div>
 </div>
 