---
import ArrowRight from "../../public/icons/arrowRight.astro";
import Boton from "./Boton.astro";
---

<div class="flex flex-wrap gap-3 mt-3">
   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>

   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>

   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>
   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>

   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>

   <div class="flex-grow min-w-80 p-2 bg-blue-400  dark:bg-purple-400 rounded-lg ">
      <div class="flex w-full flex-row justify-between">
            <h4 class="text-white text-xl font-bold">Nombre Tarea</h4>
            <p class="font-raleway text-white font-bold ">23/02/2024</p>
      </div>
      <p class="font-bold text-lg  text-blue-100   mt-3">Proyecto</p>
      <div class="flex justify-end p-3">
         <Boton direccion="/dashboard/project" texto="Ver" estilos="bg-blue-500 px-5 py-2.5 text-white">
            <ArrowRight slot="after" color="white">Ver</ArrowRight>
         </Boton>
      </div>
   </div>


</div>