---
import Boton from "../components/Boton.astro";
import BellIcon from "../../public/icons/bell.astro";
import SettingsIcon from "../../public/icons/settings.astro";
import { getUserByEmail } from "services/user.service";
import { getImageById } from "services/images.service";

interface Props {
  title: string;
  authorization: boolean;
}

const { title, authorization } = Astro.props;
let user;

if (authorization) {
  const email = Astro.cookies.get("email")?.value;
  const token = Astro.cookies.get("token")?.value;
  user = await getUserByEmail(email, token);
  const imagen = await getImageById(user.image, token);
  user.image = imagen.url;
}

//Obtener la pagina actual para activar el link correspondiente
const url = Astro.url.pathname.split("/");
const pagina = url[url.length - 1];
console.log(pagina);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../public/images/logo.webp"
    />
  </head>

  <body
    class="bg-gray-200 dark:bg-gray-900 h-screen w-full p-2.5 transition-colors duration-300"
  >
    <div></div>
    <div
      class="menu fixed w-12 h-12 text-3xl flex justify-center items-center rounded-full bg-black dark:bg-white text-white dark:text-black right-4 top-4 z-40 sm:hidden"
    >
      <ion-icon name="menu-outline"></ion-icon>
      <ion-icon name="close-outline" class="hidden"></ion-icon>
    </div>

    <div
      class="barra-lateral shadow-lg rounded-lg flex flex-col justify-between w-60 overflow-hidden px-[15px] py-5 bg-white dark:bg-purple-700 z-50 sm:left-3 fixed left-[-250px]"
    >
      <div>
        <div
          class="nombre-pagina w-full h-11 text-black dark:text-white flex items-center"
        >
          <div class="flex gap-2">
            <img
              id="logo"
              src={user?.image}
              class="rounded-full w-12 h-12"
              alt=""
            />
            <div class="">
              <div class="flex flex-col">
                <span class="font-bold">{!user ? "Generico" : user.name}</span>
                <span class="text-[10px] text-blue-300 dark:text-blue-100"
                  >{!user ? "Generico" : user.email}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="navegacion overflow-y-auto overflow-x-hidden min-h-60">
        <p class="text-sm text-gray-400 dark:text-gray-300 my-4">Páginas</p>
        <ul>
          <li class="flex mb-1">
            <a
              id={pagina == "dashboard" ? "inbox" : ""}
              href="/dashboard"
              class="text-gray-500 dark:text-gray-300 rounded-lg w-full h-11 flex items-center hover:bg-blue-300 dark:hover:bg-blue-500 hover:text-white"
            >
              <ion-icon class="min-w-[50px] text-[20px]" name="home"></ion-icon>
              <span>Principal</span>
            </a>
          </li>
          <li class="flex mb-1">
            <a
              id=""
              href="#"
              class="text-gray-500 dark:text-gray-300 rounded-lg w-full h-11 flex items-center hover:bg-blue-300 dark:hover:bg-blue-500 hover:text-white"
            >
              <ion-icon class="min-w-[50px] text-[20px]" name="calendar-number"
              ></ion-icon>
              <span>Calendario</span>
            </a>
          </li>
          <li class="flex mb-1">
            <a
              id={pagina == "tasks" ? "inbox" : ""}
              href="/dashboard/tasks"
              class="text-gray-500 dark:text-gray-300 rounded-lg w-full h-11 flex items-center hover:bg-blue-300 dark:hover:bg-blue-500 hover:text-white"
            >
              <ion-icon class="min-w-[50px] text-[20px]" name="reader"
              ></ion-icon>
              <span>Mis tareas</span>
            </a>
          </li>
        </ul>
      </nav>

      <div>
        <div class="w-full h-[1px] mt-4 bg-blue-500 dark:bg-purple-500"></div>

        <div
          class="modo-oscuro w-full rounded-lg flex justify-between items-center"
        >
          <div
            class="info w-40 h-11 overflow-hidden flex items-center text-gray-500 dark:text-gray-300 gap-2"
          >
            <ion-icon id="iconTema" name="cloudy-night"></ion-icon>
            <span id="texto-Tema">Modo oscuro</span>
          </div>
          <div
            class="switch flex items-center justify-center min-w-[50px] h-11 cursor-pointer"
          >
            <div
              class="base relative flex items-center w-9 h-5 bg-gray-400 dark:bg-purple-500 rounded-4xl"
            >
              <div
                class="circulo absolute w-[18px] h-[90%] bg-white rounded-full left-[2px] transition-all duration-500 ease-in-out"
                id="dark-mode-toggle"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="sm:ml-64 ml-0">
      <nav
        class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-5 flex justify-between items-center"
      >
        <p class="text-2xl font-bold text-gray-900 dark:text-white">
          Bienvenido a RIDI
        </p>
        <div class="flex gap-4 items-center">
          <!-- Botones y otros elementos aquí -->
          <Boton direccion="#" estilos="items-center">
            <BellIcon slot="before" estilos="text-gray-500" />
          </Boton>
          <Boton direccion="/dashboard/settings">
            <SettingsIcon
              slot="before"
              estilos={`text-gray-500 ${pagina == "settings" ? "rounded-lg ring-4 foutline-none ring-blue-300 " : ""}`}
            />
          </Boton>
        </div>
      </nav>

      <!-- Contenido principal aquí -->
      <div
        class="flex-1 p-4 bg-white shadow-lg rounded-lg mt-3 dark:bg-gray-800"
      >
        <slot />
      </div>
    </main>

    <!--     <main class="sm:ml-64 ml-0 ">

      <div class="flex-1 flex flex-col">
        <nav
          class="flex p-5 items-center justify-between bg-white shadow-lg rounded-lg"
        >
          <p class="text-2xl font-bold">Bienvenido a RIDI</p>
          <div class="flex gap-4 items-center">
           
          </div>
        </nav>


       
      </div>
    </main> -->

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
      // Obtener elementos del DOM con verificaciones de nulidad y tipado explícito
      const logo = document.getElementById("logo");
      const barraLateral =
        document.querySelector<HTMLDivElement>(".barra-lateral");
      const spans = document.querySelectorAll<HTMLSpanElement>("span");
      const palanca = document.querySelector<HTMLDivElement>(".switch");
      const circulo = document.querySelector<HTMLDivElement>(".circulo");
      const menu = document.querySelector<HTMLDivElement>(".menu");
      const main = document.querySelector<HTMLElement>("main");
      const textoTema = document.getElementById("texto-Tema");
      const iconTema = document.getElementById("iconTema");

      if (menu && barraLateral && main && circulo && palanca) {
        menu.addEventListener("click", () => {
          barraLateral.classList.toggle("max-barra-lateral");
          if (barraLateral.classList.contains("max-barra-lateral")) {
            if (menu.children.length > 1) {
              menu.children[0].setAttribute("style", "display: none");
              menu.children[1].setAttribute("style", "display: block");
            }
          } else {
            if (menu.children.length > 1) {
              menu.children[0].setAttribute("style", "display: block");
              menu.children[1].setAttribute("style", "display: none");
            }
          }
          if (window.innerWidth <= 320) {
            barraLateral.classList.add("mini-barra-lateral");
            main.classList.add("min-main");
            spans.forEach((span) => {
              span.classList.add("oculto");
            });
          }
        });

        palanca.addEventListener("click", () => {
          const modo = document.documentElement.classList.contains("dark");
          toggleTheme(!modo);
        });

        if (logo) {
          logo.addEventListener("click", () => {
            barraLateral.classList.toggle("mini-barra-lateral");
            main.classList.toggle("min-main");
            spans.forEach((span) => {
              span.classList.toggle("oculto");
            });
          });
        }
      } else {
        console.error("Some elements were not found in the DOM.");
      }

      function checkTheme() {
        const darkMode = localStorage.getItem("darkMode");
        toggleTheme(darkMode === "true");
      }

      function toggleTheme(isDark: boolean) {
        if (!circulo || !textoTema || !iconTema) return null;

        if (isDark) {
          document.documentElement.classList.add("dark");
          localStorage.setItem("darkMode", "true");
          circulo.classList.add("prendido");
          textoTema.textContent = "Modo Claro";
          iconTema.setAttribute("name", "sunny");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("darkMode", "false");
          circulo.classList.remove("prendido");
          textoTema.textContent = "Modo oscuro";
          iconTema.setAttribute("name", "cloudy-night");
        }
      }

      checkTheme();
    </script>
  </body>
</html>

<style>
  /*----------------Barra Lateral*/
  .barra-lateral {
    transition:
      width 0.5s ease,
      background-color 0.3s ease,
      left 0.5s ease;
  }

  .mini-barra-lateral {
    width: 80px;
  }
  .barra-lateral span {
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition:
      opacity 0.5s ease,
      width 0.5s ease;
  }
  .barra-lateral span.oculto {
    opacity: 0;
    display: none;
  }
  #inbox {
    background-color: #5771f7;
    color: white;
  }

  /*--------------> Menu Navegación*/

  .barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
  }
  .barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: #4c8bf0;
    border-radius: 5px;
  }
  .barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: #2f77ea;
  }

  .barra-lateral .modo-oscuro .circulo {
    transition: left 0.5s ease;
  }
  .barra-lateral .modo-oscuro .circulo.prendido {
    left: 15px;
  }

  main {
    transition: margin-left 0.5s ease;
  }
  main.min-main {
    margin-left: 90px;
  }

  @media (max-width: 600px) {
    .max-barra-lateral {
      left: 0;
    }

    .menu ion-icon:nth-child(2) {
      display: none;
    }

    main.min-main {
      margin-left: 0;
    }
  }
</style>
